{% extends 'main.html' %}



{% block content %}


<div>
    <h1>Home Template</h1>
    <h2><a href="{% url 'create-room' %}">Create</a></h2>
    <hr>
    <hr>
    <div>
        {% for room in rooms %}
            <div>

                <h4>@{{room.host.username}}</h4>
                <p>
                    <a href="{% url 'update-room' room.id %}">Edit</a>
                    <a href="">Delete</a>
                </p>
                <h1>{{room.id}} -- <a href = "{% url 'room' room.id %}">{{room.name}}</a></h1>
                <h3>{{room.topic.name}}</h3>
            </div>
            <hr>
        {% endfor %}
    </div>
</div>


{% endblock %}